@use '@angular/material' as mat;

/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Playfair+Display:wght@400;600;700;800&display=swap');



/* Angular Material Theme */
html {
  @include mat.theme((color: (primary: mat.$blue-palette,
        tertiary: mat.$yellow-palette,
      ),
      typography: Roboto,
      density: 0));
}

body {
  color-scheme: light;
  margin: 0;
  color: var(--mat-sys-on-surface);
}

/* Global Variables */
:root {
  --font-inter: 'DM Sans', sans-serif;
  --font-heading: 'Playfair Display', serif;

  --bg-primary: #417ae3;
  --bg-secondary: #f0ca33;

  --primary-color: #417ae3;
  --secondary-color: #f0ca33;

  --container-6xl: 85rem;
  --background-color: #fafafa;
}

/* Layout */
html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-inter);
  background-color: #ffffff;
}

/* Typography */
.font-heading {
  font-family: var(--font-heading);
}

/* Brand Colors */
.bg-primary {
  background-color: var(--bg-primary);
  color: white;
}

.bg-secondary {
  background-color: var(--bg-secondary);
}

.text-primary {
  color: var(--primary-color);
}

.text-secondary {
  color: var(--secondary-color);
}

/* Container */
.max-w-6xl {
  max-width: var(--container-6xl);
}

/* Section Background */
.bg-react {
  background: linear-gradient(90deg,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.8));
  width: 100%;
}

/* Navigation */
.nav-link {
  @apply font-medium opacity-75 hover:text-[var(--primary-color)] transition duration-200;
}

.mobile-link {
  @apply block font-medium opacity-75 hover:text-[var(--primary-color)] transition duration-200;
}

/* Angular Material Fix */
.mat-mdc-form-field-subscript-wrapper {
  height: 0;
  margin: 0;
}

/* Material Icons */
a mat-icon,
button mat-icon {
  font-size: 20px !important;
  width: 22px !important;
  height: 25px !important;
}


button mat-icon {
  color: #222 !important;
}